@model List<Restaurant>

<h1>Restaurant List</h1>

<table class="table table-bordered ">
	<thead>
		<tr>
			<th>Name</th>
			<th>Cuisine</th>
			<th>Location</th>
			<th>Image</th>
			<th>Active Status</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model)
		{
			<tr>
				<td>@obj.Name</td>
				<td>@obj.Cuisine</td>
				<td>@obj.Location</td>
				<td>@obj.ImageUrl</td>
				<td>@obj.IsActive</td>
				<td>@obj.Rating</td>
			</tr>
		}
	</tbody>
</table>