@model List<MenuItem>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h1 class="text-primary">Menu Item List</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="MenuItem" asp-action="Upsert" class="btn btn-primary">
                <i class="las la-plus-circle"></i> Add Menu Item
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Restaurant</th>
				<th>Availability</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
					<td>@obj.Name</td>
                    <td>@Html.Raw(@obj.Description)</td>
					<td>₹@obj.Price.ToString("F2")</td>
					<td>@(obj.Restaurant != null ? obj.Restaurant.Name : "N/A")</td>
					<td>
						<span class="badge @(obj.IsAvailable ? "badge-success" : "badge-danger")">
							@(obj.IsAvailable ? "Available" : "Not Available")
						</span>
					</td>
                    <td>
                        <img src="@obj.ImageUrl" alt="Menu Image" class="img-thumbnail" style="width: 80px; height: 50px;" />
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="MenuItem" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-sm btn-primary d-flex align-items-center mx-2">
                                <i class="lar la-edit"></i> Edit
                            </a>
							<a asp-controller="MenuItem" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-sm btn-danger d-flex align-items-center mx-2">
                                <i class="las la-trash-alt"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
